:root {
    --gutter-width:16px;
    --header-height:50px;
    --root:#100;
    --bg:#000;
    --link-color:#f00;
    --header-bg:transparent;
    --font:"Inconsolata", -apple-system, BlinkMacSystemFont, sans-serif;
    --font-size:14px;
    --input-border-radius:4px;
    --input-height:34px;
    --input-font-size:14px;
    --input-background:#333;
    --header-font-size:14px;
    --subtitle-color:#888;
    --separator-color:rgba(99, 99, 99, .3);
    --separator-height:1px;
    --touchable-highlight:#222;
    --shade-color:rgba(30, 31, 34, .8);
    --window-radius:8px;
    --window-width:640px;
    --alert-width:300px;
    --alert-title-font-size:14px;
}

/* PITCH */
.pitch img {height:24px;}
.pitch-page {display:flex; height:100%; justify-content:center; align-items:center; flex-direction:column; padding:20px;}
.pitch-page-0 {background:#001 url(/assets/pitch0.svg) center center no-repeat; background-size:1000px;}
.pitch-page-1 {background:#101 url(/assets/pitch1.svg) center center no-repeat;}
.pitch-page-2 {background:#001 url(/assets/pitch2.svg) center center no-repeat;}
.pitch-page .btn-clear {background:rgba(255, 255, 255, .1); border-radius:18px; height:36px; width:36px; backdrop-filter:blur(4px);}
.pitch p {margin:0 auto 20px auto; line-height:24px; text-align:center; font-size:17px; font-family:Caprasimo, sans-serif; color:#faa;}

@media (min-width:640px) {
    .pitch .scroller {padding:50px;}

    .pitch p {font-size:24px;}
}

/* DEMOS HOME */
.demos {background:#000 url(/assets/rose.svg) bottom right no-repeat;}

/* MAP DEMO */
.mapboxgl-control-container {display:none;}
.user-location-marker {height:20px; width:20px; border-radius:10px; background-color:#fff;}
.user-location-marker:after {content:""; display:block; border-radius:8px; margin:2px; height:16px; width:16px; background-color:#48f;}

/* ALERT DEMO */
.alert-container.explode {background:url("/assets/explode.gif") center center no-repeat; background-size:contain;}
.alert-container.firework {background:url("/assets/firework.gif") center center no-repeat; background-size:contain;}
.alert-container.confetti {background:url("/assets/confetti.gif") center center no-repeat; background-size:cover;}

/* CLOCK */
.clock-time {font-size:30vw;}
.clock-ampm {font-size:10vw;}

/* SHADE DEMOS */
.fluid-card {background:#333 !important;}

/* GALLERY DEMO */
.gallery-grid {display:grid; grid-template-columns:repeat(3, 1fr); gap:3px;}
.gallery-grid .touchable {aspect-ratio:1; background-size:cover; background-position:center;}
