:root {
    --header-height:50px;
    --root:#100;
    --bg:#000;
    --link-color:#f00;
    --header-bg:transparent;
    --font:"Inconsolata", -apple-system, BlinkMacSystemFont, sans-serif;
    --font-size:14px;
    --input-border-radius:0;
    --input-height:34px;
    --input-font-size:14px;
    --header-font-size:14px;
    --subtitle-color:#888;
    --separator-color:rgba(99, 99, 99, .3);
    --touchable-highlight:#222;
    --shade-color:#1e1f22;
    --window-radius:0;
    --window-width:640px;
    --alert-width:300px;
    --alert-title-font-size:14px;
}

.pitch {flex:1; height:100%; display:flex; flex-direction:column;}
.pitch img {height:24px;}
.pitch .scroller {padding:0 20px;}
.pitch-page {display:flex; height:100%; justify-content:center; align-items:center; flex-direction:column; padding:20px;}
.pitch-page-0 {background:#001 url(/assets/pitch0.svg) center center no-repeat; background-size:1000px;}
.pitch-page-1 {background:#101 url(/assets/rose2.svg) center center no-repeat;}
.pitch-page-2 {background:#001 url(/assets/rose2.svg) center center no-repeat;}
.pitch-page-3 {background:#101 url(/assets/rose2.svg) center center no-repeat;}
.pitch-page .btn-clear {background:rgba(255, 255, 255, .1); border-radius:18px; height:36px; width:36px; backdrop-filter:blur(4px);}
.pitch p {margin:0 auto 20px auto; line-height:24px; text-align:center; font-size:17px; font-family:Caprasimo, sans-serif; color:#faa;}

@media (min-width:640px) {
    .pitch .scroller {padding:50px;}

    .pitch p {font-size:24px;}
}

/* DEMOS HOME */
.demos-card {background:#000 !important;}
.demos {background:#100 url(/assets/rose.svg) bottom right no-repeat; height:100%; position:relative; padding:20px 0 100px 0;}
.springboard, .dock {display:grid; grid-template-columns: auto auto auto auto; padding:10px; gap:10px; font-size:12px; width:100%;}
.springboard {padding-top:20px;}
.dock {position:absolute; bottom:0; left:0; right:0; height:100px; background:#000;}

/* DASHBOARD ICON */
.springboard-icon {height:80px; flex:1; display:flex; flex-direction:column; gap:5px; color:#eee; align-items:center; justify-content:center; min-width:80px;}
.springboard-icon i {color:#fff; font-size:28px;}
.springboard-icon .icon-frame {height:40px; width:40px; display:flex; justify-content:center; align-items:center; background:#322; border-radius:4px;}

/* FILE BROWSER DEMO */
.files {background:#000 !important;}
.files .header {background:transparent !important;}

/* MAP DEMO */
.map {background:#000 !important;}
.mapbox {height:100%;}
.mapboxgl-control-container {display:none;}
.map-search {padding:0 10px 10px 10px;}
.pills {padding:10px; position:absolute; top:0; left:0; right:0; display:flex; align-items:center; gap:10px;}
.avatar {height:24px; width:24px; border-radius:12px;}
.map-container {position:relative; flex:1;}
.user-location-marker {height:20px; width:20px; border-radius:10px; background-color:#fff;}
.user-location-marker:after {content:""; display:block; border-radius:8px; margin:2px; height:16px; width:16px; background-color:#48f;}

/* ALERT DEMO */
.alert-demo-card {background:#013 !important;}
.alert-container.explode {background:url("/assets/explode.gif") center center no-repeat; background-size:contain;}
.alert-container.firework {background:url("/assets/firework.gif") center center no-repeat; background-size:contain;}
.alert-container.confetti {background:url("/assets/confetti.gif") center center no-repeat; background-size:cover;}

/* CLOCK */
.clock-card {background:#000 !important;}
.clock-card .card-body {align-items:center; justify-content:center; padding-bottom:40px;}
.clock-time {font-size:30vw; display:flex; gap:5vw; align-items:center;}
.clock-ampm {font-size:10vw;}